POSTGRES_HOST=postgres
POSTGRES_PORT=port
POSTGRES_DB=config_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

PORT=8080
LOG_LEVEL=INFO


# Database Connection Pool
DB_POOL_MIN=2
DB_POOL_MAX=10

# API Settings
MAX_CONFIG_SIZE=1048576
MAX_HISTORY_ITEMS=50 